<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:include="fragments/defaults :: head (pageTitle='JobListing - Create')">x</th:block>

</head>

<body>

<th:block th:include="fragments/navbar :: navbar">x</th:block>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
           <form autocomplete="off" action="#" th:action="@{/joblistings}"
                  th:object="${jobListing}" method="post" class="form-horizontal" name="denemeForm" role="form">

                <h2>Create a New JobListing</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-message"></label>
                        <input type="text" th:field="*{title}" placeholder="Title" class="form-control" />
                    </div>
                </div>

               <div class="form-group">
                   <div class="col-sm-9">
                       <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
                       <textarea th:field="*{description}" placeholder="Description" class="form-control"> </textarea>
                   </div>
               </div>

               <div class="form-group">
                   <div class="col-sm-9">
                       <label th:if="${#fields.hasErrors('peopleQuota')}" th:errors="*{peopleQuota}" class="validation-message"></label>
                       <input type="number" th:field="*{peopleQuota}" placeholder="People Quota" class="form-control" />
                   </div>
               </div>

               <div class="form-group">
                   <div class="col-sm-9">
                       <label th:if="${#fields.hasErrors('lastDate')}" th:errors="*{lastDate}" class="validation-message"></label>
                       <input type="date" th:field="*{lastDate}" placeholder="lastDate" class="form-control" />
                   </div>
               </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Create JobListing</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>

            </form>
        </div>
    </div>
</div>

    <th:block th:include="fragments/defaults :: foot">x</th:block>

</body>

</html>